<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
	<title>
	工业设计
	</title>
	<meta http-equiv="x-ua-compatible" content="ie=11" />
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
	<meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
	<meta name="Design Corp" content="Perfect DNB" />
	<meta name="robots" content="all" />
	<meta name="Keywords" content="工业设计" />
	<meta name="Description" content="工业设计" />
	
	<include file="Public/head" />


</head>

<body>
	<include file="Public/header" />
	<div class="bg-wrap">
		<div class="industy-info">
			<div class="title">
				<h1>
					<{$title}>
				</h1>
				<div class="time">
					<span><{$time}></span>
				</div>
			</div>
			
			<div class="content">
			<{$content}>
			</div>
		</div>
	</div>
	<include file="Public/footer" />

	</body>
</html>