<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
	<title>
	工业设计
	</title>
	<meta http-equiv="x-ua-compatible" content="ie=11" />
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
	<meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
	<meta name="Design Corp" content="Perfect DNB" />
	<meta name="robots" content="all" />
	<meta name="Keywords" content="工业设计" />
	<meta name="Description" content="工业设计" />
	
	<include file="Public/head" />


</head>

<body>
<include file="Public/header" />
	<div class="company-banner">
		<div class="inner">
			<div class="logo">
				<img src="__PUBLIC__/images/truelogo.jpg" class="img-circle mt10" alt="company-logo" width="100px" height="100px"/>
				<p>大学生创业有限公司</p>
			</div>
		</div>
	</div>
	<div class="bg-wrap mt10">
		<div class="company-left">
			<div class="company-nav">
				<div class="intro">
					<span>公司介绍</span>
				</div>
				<div class="goods">
					<a href="<{:U('Home/Design/index')}>"><span class="glyphicon glyphicon-hand-right mr5"></span>查看产品</a>
				</div>
			</div>
			<div class="brief">
				<span>公司简介</span>
			</div>
			<div class="content">
				大学生创业投资有限公司位于河北石家庄市桥西区中华南大街保龙仓，主营 其他 等。公司秉承"顾客第一，勇攀高峰"的经营理念，坚持"诚实守信"的原则为广大客户提供优质的服务。如果您对我公司的产品服务有兴趣，请在线留言或者来电咨询！
			</div>
			<div class="brief">
				<span>详细介绍</span>
			</div>
			<div class="content">
				作为工业设计行业以设计和创新研发能力著称的德腾工业设计，在国内拥有百人的设计团队，以十余年服务于大中小型家电企业的成功经验，以及在外观设计、结构设计、产品研发、程序开发PCB设计、样机制作、材料、成本、工艺等大量专业知识的积累和沉淀，辅以制造业行业配套产业链，为企业提供以品牌营销战略为核心的产品设计开发整体解决方案。坚持以“艺术美化生活”的设计理念作为我们的灵魂。所有设计在实用、安全的基础上，加上艺术的灵感，带给用户高贵、典雅、时尚的视觉感受和舒适、方便的使用体验。 双赢的合作理念成为我们与客户之间的共识。为客户提供优质的服务和能赢得市场的产品，是我们的最终目标。
			</div>
		</div>
		<div class="company-right">
			<div class="contact">
				<span class="glyphicon glyphicon-user mr10"></span>联系方式
			</div>
			<div class="contact-list">
				<div class="p10">
					<span class="glyphicon glyphicon-phone-alt mr10"></span>0850-1234567
				</div>
				<div class="p10">
					<span class="glyphicon glyphicon-phone mr10"></span>0123456789
				</div>
				<div class="p10">
					<span class="glyphicon glyphicon-envelope mr10"></span>465628878@qq.com
				</div>
				<div class="p10">
					<span class="glyphicon glyphicon-map-marker mr10"></span>广东省肇庆市端州区肇庆大道肇庆学院中巴软件楼
				</div>
			</div>
		</div>
	</div>

<include file="Public/footer" />
</body>
</html>