<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
	<title>
	工业设计
	</title>
	<meta http-equiv="x-ua-compatible" content="ie=11" />
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
	<meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
	<meta name="Design Corp" content="Perfect DNB" />
	<meta name="robots" content="all" />
	<meta name="Keywords" content="工业设计" />
	<meta name="Description" content="工业设计" />
	
	<include file="Public/head" />


</head>

<body>
<include file="Public/header" />
	<!--banner-->
	<div class="banner" id="J-banner-tabs">
		<ul class="slides">
				<li>
				<a href="http://www.hidesigncloud.com/Activity/Topic"   target="_blank"></a>
			</li>
			
		</ul>
		<ol id="J-banner-ctrl" class="banner-ctrl">		
			<li class="active"><a></a></li>		
		</ol>
	</div>

	<!--设计商-->
	<div class="top-designer">
		<div class="container">
			<div class="top-title">
				<h2>优秀设计商</h2>
				<p>只要你足够优秀，你也可以榜上有名</p>
			</div>
			<p class="know-more-dsg"><a href="/Designer" target="_blank">了解更多设计公司</a></p>
			<div class="designer-wrap" id="J-designer-wrap">
				<ul class="designer-list" id="J-designer-list">

                    <li>
                        <div>
                            <span class="serial-number">1.</span>
                            <span class="img-wrap">
                                <a href="javascript:void(0)" >
                                    <img src="__PUBLIC__/images/logo.jpg" alt="佛山市顺德区德腾工业设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201508/b0031b67920a4503907b3ef098fc05ca.jpg">
									<p>佛山市顺德区德腾工业设计有限公司</p>
                                </a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="serial-number">2.</span>
                            <span class="img-wrap">
                                <a href="javascript:void(0)" >
                                    <img src="__PUBLIC__/images/logo.jpg" alt="广东顺德潜龙工业设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201507/45ffdbed0b854119a234e59e046084a4.png">
									<p>广东顺德潜龙工业设计有限公司</p>
                                </a>
                            </span>
                         
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="serial-number">3.</span>
                            <span class="img-wrap">
                                <a href="javascript:void(0)" >
                                    <img src="__PUBLIC__/images/logo.jpg" alt="宁波大业产品造型艺术设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201506/426cb235b46f46628eebc0155748fbc2.png">
									<p>宁波大业产品造型艺术设计有限公司</p>
                                </a>
                            </span>
                          
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="serial-number">4.</span>
                            <span class="img-wrap">
                                <a href="javascript:void(0)" >
                                    <img src="__PUBLIC__/images/logo.jpg" alt="宁波科创制造技术开发有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201506/11b6245a094f42d8a06ec4442d3ca4bc.png">
									<p>宁波科创制造技术开发有限公司</p>
                                </a>
                            </span>
                            
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="serial-number">5.</span>
                            <span class="img-wrap">
                                <a href="javascript:void(0)" >
                                    <img src="__PUBLIC__/images/logo.jpg" alt="广州维博产品设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201507/4821f71c4ada4b13909f2b7c5aeec305.jpg">
									<p>广州维博产品设计有限公司</p>
                                </a>
                            </span>
                           
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="serial-number">6.</span>
                            <span class="img-wrap">
                                <a href="javascript:void(0)" >
                                    <img src="__PUBLIC__/images/logo.jpg" alt="佛山六维空间设计咨询有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201506/93a5b68f945e440c8b14cc894afc50ec.png">
									<p>佛山六维空间设计咨询有限公司</p>
                                </a>
                            </span>
                          
                        </div>
                    </li>
                    


				</ul>
			</div>
		</div>
	</div>

	<!--设计作品-->
	<div class="design-product">
		<div class="container">
			<h2>优秀设计作品</h2>
				<ul class="pd-tag">
                    <li>
                        <a href="/Market/kongqijinghuaqi" target="_blank">空气净化器</a>
                    </li>
                    <li>
                        <a href="/Market/xichenqi" target="_blank">吸尘器</a>
                    </li>
                    <li>
                        <a href="/Market/jiashiqi" target="_blank">加湿器</a>
                    </li>
                    <li>
                        <a href="/Market/dianfanguo" target="_blank">电饭锅</a>
                    </li>
                    <li>
                        <a href="/Market/jingshuiqi" target="_blank">净水器</a>
                    </li>
                    <li>
                        <a href="/Market/diankaoxiang" target="_blank">电烤箱</a>
                    </li>
                    <li>
                        <a href="/Market/kafeiji" target="_blank">咖啡机</a>
                    </li>
                    <li>
                        <a href="/Market/dianfengshan" target="_blank">电风扇</a>
                    </li>
                    <li>
                        <a href="/Market/yinshuiji" target="_blank">饮水机</a>
                    </li>
                    <li>
                        <a href="/Market/zhazhiji" target="_blank">榨汁机</a>
                    </li>
                    <li>
                        <a href="/Market/dianshuihu" target="_blank">电水壶</a>
                    </li>
                    <li>
                        <a href="/Market/jiaobanji" target="_blank">搅拌机</a>
                    </li>
                    <li>
                        <a href="/Market/mandunguo" target="_blank">慢炖锅</a>
                    </li>

					<li class="more-class" >
						<a href="/Market" target="_blank">更多分类</a>
					</li>
				</ul>
		</div>
    </div>
	<div class="container design-pd-list-wrap">
		<div class="design-pd-list">
			<ul class="dsg-pd-box">
                <li>
                    <div class="dsg-pd-box-pic">
                        <a href="/Market/04308306bf084f4ea6f32d2d0955af95.html" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="200" width="321" alt="滴漏式咖啡机" data-original="http://img.hidesigncloud.com/Upload/Image/201507/3996680d53bf428cacc539af2d14b66e.jpg" />
                        </a>
                        <p class="dsg-pd-box-name">
                            滴漏式咖啡机
                        </p>
                    </div>
                    <div class="dsg-pd-box-info">
                        <a href="/Designer/07e59d1b85ff4e918fcc145117eb64ce.html" class="dsg-co-logo" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="98" width="118" alt="人本造物（广州）产品设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201509/cb3c2f423f1e46f58c8e7caaa700d16b.jpg" />
                        </a>
                        <a href="/Designer/07e59d1b85ff4e918fcc145117eb64ce.html" class="dsg-co-name">人本造物（广州）产品设计...</a>
                    </div>
                    <div class="dsg-pd-box-extend">
                        <span>
                            <i class="glyphicon glyphicon-eye-open"></i>
                            5310
                        </span>
                        <span>
                            <i class="glyphicon glyphicon-heart"></i>
                            3
                        </span>
                    </div>
                </li>
                <li>
                    <div class="dsg-pd-box-pic">
                        <a href="/Market/154269d3e4ed44afa61d42bd9c2ce8a7.html" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="200" width="321" alt="优质酿造“慢生活”饼式咖啡机" data-original="http://img.hidesigncloud.com/Upload/Image/201506/a8efeae2d1e747f785da442e5ea2fe11.jpg" />
                        </a>
                        <p class="dsg-pd-box-name">
                            优质酿造“慢生活”饼式咖啡机
                        </p>
                    </div>
                    <div class="dsg-pd-box-info">
                        <a href="/Designer/6942550618094673995bff8ee8d0f4ba.html" class="dsg-co-logo" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="98" width="118" alt="广州易用设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201512/8c25d285e412437ca43bec1726ae5c87.jpg" />
                        </a>
                        <a href="/Designer/6942550618094673995bff8ee8d0f4ba.html" class="dsg-co-name">广州易用设计有限公司</a>
                    </div>
                    <div class="dsg-pd-box-extend">
                        <span>
                            <i class="glyphicon glyphicon-eye-open"></i>
                            5189
                        </span>
                        <span>
                            <i class="glyphicon glyphicon-heart"></i>
                            7
                        </span>
                    </div>
                </li>
                <li>
                    <div class="dsg-pd-box-pic">
                        <a href="/Market/a3f6a227a33e47d2856408b610bb9e99.html" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="200" width="321" alt="亨博高端电商爆款电烧烤炉" data-original="http://img.hidesigncloud.com/Upload/Image/201601/ca3e480868ab473486304a27865ca473.png" />
                        </a>
                        <p class="dsg-pd-box-name">
                            亨博高端电商爆款电烧烤炉
                        </p>
                    </div>
                    <div class="dsg-pd-box-info">
                        <a href="/Designer/2d79da3f2f0c4841b734b183843214df.html" class="dsg-co-logo" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="98" width="118" alt="广东顺德潜龙工业设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201507/45ffdbed0b854119a234e59e046084a4.png" />
                        </a>
                        <a href="/Designer/2d79da3f2f0c4841b734b183843214df.html" class="dsg-co-name">广东顺德潜龙工业设计有限...</a>
                    </div>
                    <div class="dsg-pd-box-extend">
                        <span>
                            <i class="glyphicon glyphicon-eye-open"></i>
                            4736
                        </span>
                        <span>
                            <i class="glyphicon glyphicon-heart"></i>
                            0
                        </span>
                    </div>
                </li>
                <li>
                    <div class="dsg-pd-box-pic">
                        <a href="/Market/d00d62a3038d49db93ad4a15d975f246.html" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="200" width="321" alt="无网离心保鲜“小蛮腰”甩汁机" data-original="http://img.hidesigncloud.com/Upload/Image/201506/f4ef64c744e44d03886d568fd92599c6.jpg" />
                        </a>
                        <p class="dsg-pd-box-name">
                            无网离心保鲜“小蛮腰”甩汁机
                        </p>
                    </div>
                    <div class="dsg-pd-box-info">
                        <a href="/Designer/6942550618094673995bff8ee8d0f4ba.html" class="dsg-co-logo" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="98" width="118" alt="广州易用设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201512/8c25d285e412437ca43bec1726ae5c87.jpg" />
                        </a>
                        <a href="/Designer/6942550618094673995bff8ee8d0f4ba.html" class="dsg-co-name">广州易用设计有限公司</a>
                    </div>
                    <div class="dsg-pd-box-extend">
                        <span>
                            <i class="glyphicon glyphicon-eye-open"></i>
                            4134
                        </span>
                        <span>
                            <i class="glyphicon glyphicon-heart"></i>
                            3
                        </span>
                    </div>
                </li>
                <li>
                    <div class="dsg-pd-box-pic">
                        <a href="/Market/e8446320befd4fe59d2784daaf74aa65.html" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="200" width="321" alt="海豚无线吸尘器" data-original="http://img.hidesigncloud.com/Upload/Image/201506/77480616af4641f29353f3fbf7f81f2d.jpg" />
                        </a>
                        <p class="dsg-pd-box-name">
                            海豚无线吸尘器
                        </p>
                    </div>
                    <div class="dsg-pd-box-info">
                        <a href="/Designer/bb2ffc8f8dd842c690465d9ba368c424.html" class="dsg-co-logo" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="98" width="118" alt="广州维博产品设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201507/4821f71c4ada4b13909f2b7c5aeec305.jpg" />
                        </a>
                        <a href="/Designer/bb2ffc8f8dd842c690465d9ba368c424.html" class="dsg-co-name">广州维博产品设计有限公司</a>
                    </div>
                    <div class="dsg-pd-box-extend">
                        <span>
                            <i class="glyphicon glyphicon-eye-open"></i>
                            4130
                        </span>
                        <span>
                            <i class="glyphicon glyphicon-heart"></i>
                            1
                        </span>
                    </div>
                </li>
                <li>
                    <div class="dsg-pd-box-pic">
                        <a href="/Market/cfaff8fc145b47e5ab843c1da6c5abb1.html" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="200" width="321" alt="电热开水瓶设计" data-original="http://img.hidesigncloud.com/Upload/Image/201601/2ac19f08b6c842428b37a8b7a47af015.jpg" />
                        </a>
                        <p class="dsg-pd-box-name">
                            电热开水瓶设计
                        </p>
                    </div>
                    <div class="dsg-pd-box-info">
                        <a href="/Designer/dbab7ea3abec4cf2937d386ece57ff67.html" class="dsg-co-logo" target="_blank">
                            <img src="__PUBLIC__/images/logo.jpg" height="98" width="118" alt="佛山市顺德区德腾工业设计有限公司" data-original="http://img.hidesigncloud.com/Upload/Image/201508/b0031b67920a4503907b3ef098fc05ca.jpg" />
                        </a>
                        <a href="/Designer/dbab7ea3abec4cf2937d386ece57ff67.html" class="dsg-co-name">佛山市顺德区德腾工业设计...</a>
                    </div>
                    <div class="dsg-pd-box-extend">
                        <span>
                            <i class="glyphicon glyphicon-eye-open"></i>
                            3870
                        </span>
                        <span>
                            <i class="glyphicon glyphicon-heart"></i>
                            0
                        </span>
                    </div>
                </li>

        </ul>
    </div>
</div>

	
	
    <!--微信号-->
	<div class="wchat">
        <div class="ztlistarea" >
            <dl >
                <dt>
                 
                     <div class="ztlistarea-left">
                            <img src="__PUBLIC__/images/logo.jpg" width="100" height="100" /></div>
                        <div class="ztlistarea-right">
                            <div class="ztlistarea-right-titie">
                                微信服务号</div>
                            <div class="ztlistarea-right-introce">
                                向公司顾客提供业务相关的服务。</div>
                        </div>
                        <div class="clear">
                        </div>
               
                </dt>
            </dl>
            <dl style="margin-right: 40px;">
                <dt>
                    
                        <div class="ztlistarea-left">
                            <img src="__PUBLIC__/images/logo.jpg" width="100" height="100" /></div>
                        <div class="ztlistarea-right">
                            <div class="ztlistarea-right-titie">
                                工业设计</div>
                            <div class="ztlistarea-right-introce">
                                设计有限公司官方公众号之一，每天为您推送最权威、最新鲜的设计资讯，传播企业文化品牌。</div>
                        </div>
                        <div class="clear">
                        </div>
             
                </dt>
            </dl>
            <dl>
                <dt>
                   
                        <div class="ztlistarea-left">
                            <img src="__PUBLIC__/images/logo.jpg" width="100" height="100" /></div>
                        <div class="ztlistarea-right">
                            <div class="ztlistarea-right-titie">
                                设计快信</div>
                            <div class="ztlistarea-right-introce">
                                报道市场动态，了解公司产品资讯。精彩内容，陆续发放，敬请期待。</div>
                        </div>
                        <div class="clear">
                        </div>
                 
                </dt>
            </dl>
        </div>
    </div>
    <!--底部版权-->
  
<include file="Public/footer" />

    
</body>
</html>